<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Spesenbeleg erfassen</h1>
  </ion-header-bar>
  <ion-content>

    <form ng-controller="DashCtrl">
      <div class="list">

        <!-- Speseninfos -->
        <!-- kategorie-->
        <label class="item item-input item-select">
          <div class="input-label">
            Kategorie
          </div>
          <select>
            <option selected>Geschäftsreise</option>
            <option>Andere Spesen</option>
          </select>
        </label>

        <!-- Beschreibung -->
        <label class="item item-input">
          <input type="text" placeholder="Beschreibung" ng-model="formBeschreibung" ng-model-instant>
        </label>

      </div>
      <div class="list">
        <!-- Beginndatum -->
        <label class="item item-input">
          <input type="date" placeholder="Beginndatum" ng-model="formBeginndatum" ng-model-instant>
        </label>
        <label class="item item-input">
          <input type="time" placeholder="Beginnzeit" ng-model="formBeginnzeit" ng-model-instant>
        </label>

        <!-- Enddatum -->
        <label class="item item-input">
          <input type="date" placeholder="Enddatum" ng-model="formEnddatum" ng-model-instant>
        </label>
        <label class="item item-input">
          <input type="time" placeholder="Endzeit" ng-model="formEndzeit" ng-model-instant>
        </label>
      </div>
      <!-- Beleg -->
      <div class="list">
        <!-- Belegdatum -->
        <label class="item item-input">
          <input type="date" placeholder="Belegdatum" ng-model="formBelegdatum" ng-model-instant>
        </label>

        <!-- Spesenbetrag -->
        <label class="item item-input">
          <input type="number" placeholder="Spesenbetrag" ng-model="formSpesenbetrag" ng-model-instant>
        </label>

        <!-- Währung -->
        <label class="item item-input item-select">
          <div class="input-label">
            Währung
          </div>
          <select>
            <option selected>CHF</option>
            <option>EUR</option>
          </select>
        </label>

        <!-- File Upload -->
        <label class="item item-input">
          <input type="file" id="take-picture" accept="image/*" ng-model="formPicture">
        </label>
      </div>

    </form>

  </ion-content>
  <ion-footer-bar>
    <button class="button button-balanced" ng-click="insertExpense()">
      erfassen
    </button>

    <button class="button button-assertive" ng-click="closeModal()">
      abbrechen
    </button>
  </ion-footer-bar>
</ion-modal-view>
