<ion-view title="Spesen: {{expenses.length}} Belege">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="openModal()">
      hinzufügen
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list class="list">
    <!--<p>Anzahl Spesenbelege: {{expenses.length}}</p>-->
      <ion-item class="item item-icon-right" ng-repeat="spesen in expenses" type="item-text-wrap" href="#/tab/spesen/{{spesen.key}}">
        <i class="icon ion-briefcase"></i>
        {{spesen.key}} | {{spesen.formBeschreibung}} | Datum: {{spesen.formBeginndatum}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
