<ion-view title="Spesen: {{expenses.length}} Belege">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="openModal()">
      hinzufügen
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list ng-controller="SpesenCtrl" can-swipe=true>


    <!--<p>Anzahl Spesenbelege: {{expenses.length}}</p>-->
      <ion-item class="item item-thumbnail-left" ng-repeat="spesen in expenses" type="item-text-wrap" href="#/tab/spesen/{{spesen.key}}">
        <img ng-src="{{spesen.formPictureURL}}">
        <p>{{spesen.key}}</p>
        <h2>{{spesen.formBeschreibung}} </h2>
        <p>Datum: {{spesen.formBeginndatum}}</p>
        <ion-option-button class="button-positive" ng-click="send(spesen)">Send</ion-option-button>
        <ion-option-button class="button-energized" ng-click="edit(spesen)">Edit</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="delete(spesen)">Delete</ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
